$color-primary: rgb(11, 8, 206);
$color-secondary: #02629e;
$color-icons: #8f8f8f;
$color-light-gray: #787878;
$text-muted: #aaa;
$color-text: #1e1e1e;
$color-categories-background: #fafafa;
$background-gray: #f7f7f7;

// breakpoints
$screen-sm-max: 576px;
$screen-md-max: 768px;
$screen-lg-max: 992px;
$screen-xl-max: 1200px;
$screen-xxl-max: 1400px;
