$color-primary: red;
$color-icons: #8f8f8f;
$color-light-gray: #787878;
$text-muted: #AAA;
$color-text: #1E1E1E;
$color-categories-background: #FFF9EB;
$background-gray: #f7f7f7;

// breakpoints
$screen-sm-max: 576px;
$screen-md-max: 768px;
$screen-lg-max: 992px;
$screen-xl-max: 1200px;
$screen-xxl-max: 1400px;