@use "../sass-utils/variables" as *;

.title {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    gap: 15px;
    align-items: center;

    & > .title {
      margin-bottom: 0;
    }
  }

  &__link {
    color: $color-text;
  }
}
